Repository paizle/personal-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --config ./.eslintrc-lint-staged.js, eslint

.lintstagedrc.json:

{
  "*.js": [
    "prettier --write",
    "eslint --config ./.eslintrc-lint-staged.js"
  ],
  "*.html": [
    "eslint",
    "prettier --write"
  ],
  "*.css": "prettier --write",
  "*.scss": "prettier --write"
}

Created project skelleton.
  package-lock.json
  package.json
  public/logo192.png
  public/logo512.png
  src/App.css
  src/App.js
  src/App.scss
Due: prettier --write, eslint --config ./.eslintrc-lint-staged.js

Updated menu.
  .eslintrc-lint-staged.js
  .eslintrc.js
  .prettierrc.json
  package-lock.json
  package.json
  src/App.js
  src/App.scss
Due: prettier --write, eslint --config ./.eslintrc-lint-staged.js

Updated prettier config.
  .prettierrc.json
  src/App.js
Due: prettier --write, eslint --config ./.eslintrc-lint-staged.js

Added dark mode toggle.
  src/App.js
  src/App.scss
Due: prettier --write, eslint --config ./.eslintrc-lint-staged.js

Added React Router.
  .eslintrc-lint-staged.js
  .eslintrc.js
  package-lock.json
  package.json
  src/App.js
  src/App.scss
  src/components/Header/Header.js
  src/components/Menu/Menu.js
  src/components/Menu/Menu.scss
  src/index.js
  src/resources/images/elandas.jpg
  src/resources/images/ics-creative-agency.jpg
  src/resources/images/ironclad_logo.webp
  src/resources/images/tuki.jpg
  src/resources/images/verb-interactive.jpg
  src/util/getDefaultDarkMode.js
  src/views/Home.js
  src/views/Work/Work.js
  src/views/Work/Work.scss
Due: prettier --write, eslint --config ./.eslintrc-lint-staged.js

Made menu more UI friendly.
  src/App.scss
  src/components/Menu/Menu.scss
  src/views/Work/Work.js
Due: prettier --write, eslint --config ./.eslintrc-lint-staged.js

Updates
  package-lock.json
  package.json
  src/App.js
  src/App.scss
  src/components/Menu/Menu.scss
  src/index.js
  src/views/Home/Home.js
  src/views/Projects/Projects.js
  src/views/Projects/Projects.scss
Due: prettier --write, eslint --config ./.eslintrc-lint-staged.js

Created Card component.
  src/components/Card/Card.js
  src/components/Card/Card.scss
  src/views/Projects/Projects.js
  src/views/Work/Work.js
Due: prettier --write, eslint --config ./.eslintrc-lint-staged.js

Updates.
  .eslintrc-lint-staged.js
  .eslintrc.js
  .lintstagedrc.json
  public/images/asbury.jpg
  public/images/comments.jpg
  public/images/ecw.jpg
  public/images/elandas.jpg
  public/images/ics-creative-agency.jpg
  public/images/ironclad_logo.webp
  public/images/tuki.jpg
  public/images/verb-interactive.jpg
  public/index.css
  public/index.html
  src/App.scss
  src/components/Card/Card.js
  src/components/Card/Card.scss
  src/components/Menu/Menu.js
  src/components/Menu/Menu.scss
  src/data/projects.json
  src/resources/images/asbury.jpg
  src/resources/images/comments.jpg
  src/resources/images/ecw.jpg
  src/util/setHighestWidth.js
  src/views/Projects/Projects.js
  src/views/Projects/Projects.scss
  src/views/Work/Work.scss
Due: prettier --write, eslint --config ./.eslintrc-lint-staged.js, eslint

Updates.
  src/views/Projects/Projects.scss
Due: prettier --write

Updates
  .eslintrc-lint-staged.js
  .eslintrc.js
  public/images/asbury.jpg
  public/images/deluxe-french-fries.jpg
  public/images/ferries.jpg
  public/images/ics-creative-agency-logo.jpg
  public/images/ics-creative-agency.jpg
  public/images/sawt.jpg
  public/images/splash-thai-cuisine.jpg
  public/images/swnbclimate.jpg
  public/images/vitos.jpg
  src/components/Card/Card.js
  src/components/Card/Card.scss
  src/components/Menu/Menu.js
  src/components/Menu/Menu.scss
  src/data/projects.json
  src/data/work.json
  src/util/useLocationHash.js
  src/views/Projects/Projects.js
  src/views/Projects/Projects.scss
  src/views/Work/Work.js
  src/views/Work/Work.scss
Due: prettier --write, eslint --config ./.eslintrc-lint-staged.js

Updates
  src/components/Card/Card.js
  src/components/Card/Card.scss
  src/components/Menu/Menu.scss
  src/data/projects.json
  src/views/Projects/Projects.scss
Due: prettier --write, eslint --config ./.eslintrc-lint-staged.js

Updates
  src/components/Menu/Menu.js
  src/data/projects.json
  src/index.js
  src/routes/routes.js
  src/views/Contact/Contact.js
  src/views/Home/Home.js
Due: prettier --write, eslint --config ./.eslintrc-lint-staged.js

General updates.
  public/images/ironclad.jpg
  public/images/ironclad_logo.webp
  public/images/matthew-allan-macpherson.jpg
  src/App.scss
  src/components/EyebrowInput/EyebrowInput.js
  src/components/EyebrowInput/EyebrowInput.scss
  src/components/Menu/Menu.js
  src/data/work.json
  src/styles/global.scss
  src/styles/mixins.scss
  src/util/setHighestWidth.js
  src/views/Contact/Contact.js
  src/views/Contact/Contact.scss
  src/views/Home/Home.js
  src/views/Home/Home.scss
  src/views/Projects/Projects.js
  src/views/Projects/Projects.scss
  src/views/Work/Work.scss
Due: prettier --write, eslint --config ./.eslintrc-lint-staged.js

Not quite working.
  .eslintrc.js
  .vscode/settings.json
  package-lock.json
  package.json
  public/images/access-tracker.jpg
  public/images/correnet.jpg
  public/images/cruise-ship-map.jpg
  public/images/mitchell-mcconnell.jpg
  public/images/pull-through-express.jpg
  public/images/sawt.jpg
  public/images/voyages.jpg
  src/App.js
  src/App.scss
  src/components/Card/Card.scss
  src/components/Header/Header.js
  src/components/Menu/Menu.scss
  src/data/projects.json
  src/data/work.json
  src/styles/global.scss
  src/util/useLocationHash.js
  src/views/Contact/Contact.js
  src/views/Home/Home.js
  src/views/Home/Home.scss
  src/views/Projects/Projects.js
  src/views/Projects/Projects.scss
  src/views/Work/Work.js
  src/views/Work/Work.scss
Due: prettier --write, eslint --config ./.eslintrc-lint-staged.js

Updated
  public/images/comments.jpg
  public/index.html
  src/App.js
  src/App.scss
  src/components/Card/Card.js
  src/components/Card/Card.scss
  src/components/Menu/Menu.js
  src/components/Menu/Menu.scss
  src/components/MenuHeader/MenuHeader.js
  src/components/MenuHeader/MenuHeader.scss
  src/contexts/ApplicationContext.js
  src/data/projects.json
  src/data/work.json
  src/util/useLocationHash.js
  src/views/Home/Home.js
  src/views/Projects/Projects.js
  src/views/Projects/Projects.scss
  src/views/Work/Work.js
  src/views/Work/Work.scss
Due: prettier --write, eslint --config ./.eslintrc-lint-staged.js, eslint

Mixin for media breakpoints.
  htaccess
  public/index.html
  src/App.scss
  src/components/Card/Card.scss
  src/components/Menu/Menu.js
  src/components/Menu/Menu.scss
  src/components/MenuHeader/MenuHeader.scss
  src/styles/global.scss
  src/styles/mixins.scss
Due: prettier --write, eslint --config ./.eslintrc-lint-staged.js, eslint

Updated gitignore
  .gitignore
Due: none

Updated colors.
  src/components/Menu/Menu.scss
  src/components/MenuHeader/MenuHeader.scss
Due: prettier --write

Updates to menu styles.
  package-lock.json
  package.json
  src/components/Card/Card.scss
  src/components/Menu/Menu.scss
  src/components/MenuHeader/MenuHeader.scss
  src/styles/mixins.scss
  src/views/Home/Home.scss
Due: prettier --write
